* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

hr {
    border: 1px solid gold;

    margin: 3% auto;
    /*
        By setting the rule 'margin: 3% auto;' we are telling our <hr> element to have margin top and bottom of 3% relative to the webpage by using auto it will automatically take up all the horizontal space available to it.
    */

    width: 7%;
    /*
        By setting the rule 'width: 7%;' we are telling our 
        <hr> element to expand to 7% horizontally.
    */


    /*
        Final Notes: 

        We took the <hr> element and gave it solid border with 1px density and a gold color. 

        Then we used margin to give the top and bottom of our <hr> element a margin of 3% relative to the webpage, for left and right we gave the <hr> element a margin of auto which let it take up all of the space available to it.

        Finally we used width to give the <hr> element a horizont max with of 7%.
    */
}

nav {
    margin: 0 1%;
    /*
        By setting the rule 'margin: 0% 7%;' our navigation will have margin from the top and bottom of 0 and a margin from the left and right of 1% 
    */

    padding: 1% 5%;
    /*
        By setting the rule 'padding: 1% 5%;' our elements will have a padding of 1% vertically from its content and will have a padding of 5% horzontally from its content.
    */
}

nav > div {
    display: inline-block;
    /*
        By setting the rule 'display: inline-block;' our elements align horizontally to eachother.
    */
}

nav div a {
    color: #464646;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

nav > div:last-child {
    float: right;
}

nav input {
    border: none;
}

header {
    margin: 0 auto; 
    text-align: center;
    width: 80%;

    /*  
        NOTES

        i dont know exactly how each line works for example i feel that the first and secnd line do the same thing but i do know from previous projects that this is the way to center total elements 
    */
}

header img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

header h1 {
    color: #242424;
    font-size: 60px;
    font-family: 'Lora', serif;
    letter-spacing: -1;
    line-height: 60px;
    margin: 5% 0;
}

header h3 {
    color: #5f5f5f;
   font-weight: normal;
   font-size: 20px;
   margin: 5% 0 3%;
}

section {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

section p {
    color: #565656;
    font-size: 16px;
    line-height: 30px;
    padding: 0 15%;
    margin: 3% 0;
    clear: both;

    /*
        FINAL NOTES

        CLEAR IS KING!!!!
        BY ADDING CLEAR BOTH TO MY <P> TAGS I WAS ABLE TO CLEAR THE SPACE NEXT TO THE PICTURE SO WHEN THE IAGE FLOATS THE P ELEMENT WWONT FLOAT NEXT TO IT INSTEA THE ARE REMAINS CLEAR!

    */
}


section .pic  {
    margin: 0 auto;
    text-align: center;
    width: 75%;
    
}

.personal-quote {
    font-family: 'Petit Formal Script', cursive;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.image-wrap {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.image-wrap img {
    float: left;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

section > div {
    color: #565656;
}

section .fa-heart {
    color: red;
    margin-bottom: 3%;
}

section textarea {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px lightgray;
    font-size: 14px;
    padding: 6px 12px;
    width: 100%;
}

.button-group {
    text-align: left;
    margin-bottom: 5%;
}
.button-group button {
    border: none;
    background-color: white;
    color: #565656;
    padding: 0 5px 0 0px;
}
.button-group button:last-child {
    float: right;
}

.button-group button:hover {
    cursor: pointer;
}

footer {
    background-color: #f8f9fd;
    height: 20%;
    padding: 0 20%;
}

footer {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    /* border: 1px solid green; */
    /* padding-top: 3%; */
}



.previous-article,
.previous-button {
    float:left;
    padding-top: 2%;
    /* border: 1px solid yellow; */
}

.next-article,
.next-button {
    float: right;
    padding-top: 2%;
    /* border: 1px solid yellow; */
}